<div class="container">
    <div class="row align-items-end">
        <p></p>
        <div class="col">
            <h2 class="">List of tasks...</h2>
        </div>
        
        <div class="col align-self-end">
            <div class="container text-end">
                <button class="btn btn-primary"><a [routerLink]="['/add-task/']">Add Task</a></button>
            </div> 
        </div>
    </div>
</div>
<p></p>
<div class="container">

    <div class="row p-3 border bg-light" id="thead">
        <div class="col-md-4">Task No.</div>
        <div class="col-md-4">Tasks</div>
        <div class="col-md-4 text-center">Actions</div>
    </div>
</div>
<div class="container">
    <div *ngFor="let t of tasks" id="cnt">
        <div class="row gy-5" id="">    
            <div class="col-md-1 p-3 border bg-light">{{ t.id }}</div>
            <div class="col-md-7 p-3 border bg-light">{{ t.content }}</div>
            <div class="col-md-4 p-3 border bg-light text-center">
                
                <button class="btn btn-warning btn-margin"><a [routerLink]="['/update-task/',t.id]">Edit</a></button>
                <button (click)="deleteTask(t.id)" class="btn btn-danger btn-margin">Delete</button>
            </div>
        </div>
    </div>
</div>
