<div class="container">
    <div class="row align-items-start">
        <p></p>
        <div class="col">
            <h2 class="">List of tasks...</h2>
        </div>
        <div class="col"></div>
        <div class="col">
            <button class="btn btn-primary"><a [routerLink]="['/add-task/']">Add Task</a></button>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        
        <thead>
            <th>Product Id</th>
            <th>Task</th>
            <th>Action</th>
        </thead>

        <p></p>

        <tbody>
            <tr *ngFor="let t of tasks">
                <td>{{ t.id }}</td>
                <td>{{ t.content }}</td>
                <td>
                    <button class="btn btn-warning"><a [routerLink]="['/update-task/',t.id]">Edit</a></button>
                    <button (click)="deleteTask(t.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
