a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  
  .btn-margin {
    margin-right: 5px;
    margin-left: 5px;
  }

#thead {
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  color: #8888;
}