<div class="container extra_container">
    <div class="row">
        <div class="md-col-12"><h2>Update Task...</h2></div>
    </div>

    <form [formGroup]="angForm" (ngSubmit)="editData(angForm)" autocomplete="off">
        <input type="hidden" name="id" formControlName="id">
        <div class="row">
            <div class="md-col-6">Content</div>
            <div class="md-col-6"><input type="text" class="form-control" name="content" formControlName="content"></div>
        </div>

        <div class="row">
            <div class="md-col-12"><input type="submit" class="btn btn-warning" name="submit" value="Update"></div>
        </div>
    </form>  
</div>  