<div class="container extra_container">
    <div class="row">
        <p></p>
        <div class="col">
            <h2>Update Task...</h2>
        </div>
        <div class="col"></div>
        <div class="col">
            <div class="container text-end">
                <button class="btn btn-primary"><a [routerLink]="['/list-tasks/']">Back</a></button>
            </div> 
        </div>
</div>

<div class="container">
    <form [formGroup]="angForm" (ngSubmit)="editData(angForm)" autocomplete="off">
        <input type="hidden" name="id" formControlName="id">
        <div class="row">
            <div class="md-col-6 text-center" id="cnt">Content</div>
            <div class="md-col-4"><input type="text" class="form-control" name="content" formControlName="content"></div>
        </div>

        <div class="row">
            <div class="md-col-4 text-center"><input type="submit" class="btn btn-warning" name="submit" value="Update"></div>
        </div>
    </form>  
</div>  