<div class="container extra_container">
    <p></p>
    <div class="row">
        <div class="md-col-12"><h2>Add Task...</h2></div>
    </div>
    
    <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
        <div class="row">
            <div class="md-col-6">Content</div>
            <div class="md-col-6"><input type="text" class="form-control" name="content" formControlName="content"></div>
        </div>

        <div class="row">
            <div class="md-col-12"><input type="submit" class="btn btn-warning" name="submit"></div>
        </div>
    </form>  
</div>  